/* h1 {
  color: red;
  font-size: 30px;
  font-style: italic;
  font-family: Arial;
} */

#h {
  color: red;
}


.gold {
  color: green;
}

/* li:hover {
  color: blue;
} */


#gameLink {
  text-align: center;
  border: 1px solid gray;
}

#game {
  margin: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 800px;
}

#greeting {
  display: none;
  position: absolute;
  left: 40%;
  top: 40%;
  background: #fff;
  width: 350px;
  border: 2px solid gray;
  border-radius: 5px;
  padding: 20px;
}

.active {
    background-color: yellow;
}
